<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon.png" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16" />
    <title>Error</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div id="content">
        <img id="logo" alt="GITEE-STARCHARTS" src="/images/stars.svg" width="35%">
        <h1 id="title">GITEE-STARCHARTS</h1>
        <hr>
        <span style="color: red">{{msg}}</span>
    </div>
</body>
</html>
